extends layout

block content
  #top
  //- HEAD SECTION
  div(id='index-banner', class='section no-pad-bot')
    div(class='container')
      h1(class='center-on-small-only white-text')
        b= title
      div(class='row')
        h4(class='col s12 light white-text') A color palette of available colors

  div(class='container')
    div(class='row')

      div(class='col s12 m9')

        div(id="external", class='section scrollspy')
          h2(class='header') External Links
          p(class='caption')
            a(href='http://www.color-hex.com/" target="_blank') Color-Hex


        div(id="materialize", class='section scrollspy')

          h2(class='header') Materialize Palette
          div(class='row dynamic-color')
            div(class='col s12 m6 l4')
              div(class='red lighten-5')
              div(class='red lighten-4')
              div(class='red lighten-3')
              div(class='red lighten-2')
              div(class='red lighten-1')
              div(class='red')
              div(class='red darken-1')
              div(class='red darken-2')
              div(class='red darken-3')
              div(class='red darken-4')
              div(class='red accent-1')
              div(class='red accent-2')
              div(class='red accent-3')
              div(class='red accent-4')

            div(class='col s12 m6 l4')
              div(class='pink lighten-5')
              div(class='pink lighten-4')
              div(class='pink lighten-3')
              div(class='pink lighten-2')
              div(class='pink lighten-1')
              div(class='pink')
              div(class='pink darken-1')
              div(class='pink darken-2')
              div(class='pink darken-3')
              div(class='pink darken-4')
              div(class='pink accent-1')
              div(class='pink accent-2')
              div(class='pink accent-3')
              div(class='pink accent-4')

            div(class='col s12 m6 l4')
              div(class='purple lighten-5')
              div(class='purple lighten-4')
              div(class='purple lighten-3')
              div(class='purple lighten-2')
              div(class='purple lighten-1')
              div(class='purple')
              div(class='purple darken-1')
              div(class='purple darken-2')
              div(class='purple darken-3')
              div(class='purple darken-4')
              div(class='purple accent-1')
              div(class='purple accent-2')
              div(class='purple accent-3')
              div(class='purple accent-4')

            div(class='col s12 m6 l4')
              div(class='deep-purple lighten-5')
              div(class='deep-purple lighten-4')
              div(class='deep-purple lighten-3')
              div(class='deep-purple lighten-2')
              div(class='deep-purple lighten-1')
              div(class='deep-purple')
              div(class='deep-purple darken-1')
              div(class='deep-purple darken-2')
              div(class='deep-purple darken-3')
              div(class='deep-purple darken-4')
              div(class='deep-purple accent-1')
              div(class='deep-purple accent-2')
              div(class='deep-purple accent-3')
              div(class='deep-purple accent-4')

            div(class='col s12 m6 l4')
              div(class='indigo lighten-5')
              div(class='indigo lighten-4')
              div(class='indigo lighten-3')
              div(class='indigo lighten-2')
              div(class='indigo lighten-1')
              div(class='indigo')
              div(class='indigo darken-1')
              div(class='indigo darken-2')
              div(class='indigo darken-3')
              div(class='indigo darken-4')
              div(class='indigo accent-1')
              div(class='indigo accent-2')
              div(class='indigo accent-3')
              div(class='indigo accent-4')

            div(class='col s12 m6 l4')
              div(class='blue lighten-5')
              div(class='blue lighten-4')
              div(class='blue lighten-3')
              div(class='blue lighten-2')
              div(class='blue lighten-1')
              div(class='blue')
              div(class='blue darken-1')
              div(class='blue darken-2')
              div(class='blue darken-3')
              div(class='blue darken-4')
              div(class='blue accent-1')
              div(class='blue accent-2')
              div(class='blue accent-3')
              div(class='blue accent-4')

            div(class='col s12 m6 l4')
              div(class='light-blue lighten-5')
              div(class='light-blue lighten-4')
              div(class='light-blue lighten-3')
              div(class='light-blue lighten-2')
              div(class='light-blue lighten-1')
              div(class='light-blue')
              div(class='light-blue darken-1')
              div(class='light-blue darken-2')
              div(class='light-blue darken-3')
              div(class='light-blue darken-4')
              div(class='light-blue accent-1')
              div(class='light-blue accent-2')
              div(class='light-blue accent-3')
              div(class='light-blue accent-4')

            div(class='col s12 m6 l4')
              div(class='cyan lighten-5')
              div(class='cyan lighten-4')
              div(class='cyan lighten-3')
              div(class='cyan lighten-2')
              div(class='cyan lighten-1')
              div(class='cyan')
              div(class='cyan darken-1')
              div(class='cyan darken-2')
              div(class='cyan darken-3')
              div(class='cyan darken-4')
              div(class='cyan accent-1')
              div(class='cyan accent-2')
              div(class='cyan accent-3')
              div(class='cyan accent-4')

            div(class='col s12 m6 l4')
              div(class='teal lighten-5')
              div(class='teal lighten-4')
              div(class='teal lighten-3')
              div(class='teal lighten-2')
              div(class='teal lighten-1')
              div(class='teal')
              div(class='teal darken-1')
              div(class='teal darken-2')
              div(class='teal darken-3')
              div(class='teal darken-4')
              div(class='teal accent-1')
              div(class='teal accent-2')
              div(class='teal accent-3')
              div(class='teal accent-4')

            div(class='col s12 m6 l4')
              div(class='green lighten-5')
              div(class='green lighten-4')
              div(class='green lighten-3')
              div(class='green lighten-2')
              div(class='green lighten-1')
              div(class='green')
              div(class='green darken-1')
              div(class='green darken-2')
              div(class='green darken-3')
              div(class='green darken-4')
              div(class='green accent-1')
              div(class='green accent-2')
              div(class='green accent-3')
              div(class='green accent-4')

            div(class='col s12 m6 l4')
              div(class='light-green lighten-5')
              div(class='light-green lighten-4')
              div(class='light-green lighten-3')
              div(class='light-green lighten-2')
              div(class='light-green lighten-1')
              div(class='light-green')
              div(class='light-green darken-1')
              div(class='light-green darken-2')
              div(class='light-green darken-3')
              div(class='light-green darken-4')
              div(class='light-green accent-1')
              div(class='light-green accent-2')
              div(class='light-green accent-3')
              div(class='light-green accent-4')

            div(class='col s12 m6 l4')
              div(class='lime lighten-5')
              div(class='lime lighten-4')
              div(class='lime lighten-3')
              div(class='lime lighten-2')
              div(class='lime lighten-1')
              div(class='lime')
              div(class='lime darken-1')
              div(class='lime darken-2')
              div(class='lime darken-3')
              div(class='lime darken-4')
              div(class='lime accent-1')
              div(class='lime accent-2')
              div(class='lime accent-3')
              div(class='lime accent-4')

            div(class='col s12 m6 l4')
              div(class='yellow lighten-5')
              div(class='yellow lighten-4')
              div(class='yellow lighten-3')
              div(class='yellow lighten-2')
              div(class='yellow lighten-1')
              div(class='yellow')
              div(class='yellow darken-1')
              div(class='yellow darken-2')
              div(class='yellow darken-3')
              div(class='yellow darken-4')
              div(class='yellow accent-1')
              div(class='yellow accent-2')
              div(class='yellow accent-3')
              div(class='yellow accent-4')

            div(class='col s12 m6 l4')
              div(class='amber lighten-5')
              div(class='amber lighten-4')
              div(class='amber lighten-3')
              div(class='amber lighten-2')
              div(class='amber lighten-1')
              div(class='amber')
              div(class='amber darken-1')
              div(class='amber darken-2')
              div(class='amber darken-3')
              div(class='amber darken-4')
              div(class='amber accent-1')
              div(class='amber accent-2')
              div(class='amber accent-3')
              div(class='amber accent-4')

            div(class='col s12 m6 l4')
              div(class='orange lighten-5')
              div(class='orange lighten-4')
              div(class='orange lighten-3')
              div(class='orange lighten-2')
              div(class='orange lighten-1')
              div(class='orange')
              div(class='orange darken-1')
              div(class='orange darken-2')
              div(class='orange darken-3')
              div(class='orange darken-4')
              div(class='orange accent-1')
              div(class='orange accent-2')
              div(class='orange accent-3')
              div(class='orange accent-4')

            div(class='col s12 m6 l4')
              div(class='deep-orange lighten-5')
              div(class='deep-orange lighten-4')
              div(class='deep-orange lighten-3')
              div(class='deep-orange lighten-2')
              div(class='deep-orange lighten-1')
              div(class='deep-orange')
              div(class='deep-orange darken-1')
              div(class='deep-orange darken-2')
              div(class='deep-orange darken-3')
              div(class='deep-orange darken-4')
              div(class='deep-orange accent-1')
              div(class='deep-orange accent-2')
              div(class='deep-orange accent-3')
              div(class='deep-orange accent-4')

            div(class='col s12 m6 l4')
              div(class='brown lighten-5')
              div(class='brown lighten-4')
              div(class='brown lighten-3')
              div(class='brown lighten-2')
              div(class='brown lighten-1')
              div(class='brown')
              div(class='brown darken-1')
              div(class='brown darken-2')
              div(class='brown darken-3')
              div(class='brown darken-4')

            div(class='col s12 m6 l4')
              div(class='grey lighten-5')
              div(class='grey lighten-4')
              div(class='grey lighten-3')
              div(class='grey lighten-2')
              div(class='grey lighten-1')
              div(class='grey')
              div(class='grey darken-1')
              div(class='grey darken-2')
              div(class='grey darken-3')
              div(class='grey darken-4')

          div(class='row dynamic-color')
            div(class='col s12 m6 l4')
              div(class='blue-grey lighten-5')
              div(class='blue-grey lighten-4')
              div(class='blue-grey lighten-3')
              div(class='blue-grey lighten-2')
              div(class='blue-grey lighten-1')
              div(class='blue-grey')
              div(class='blue-grey darken-1')
              div(class='blue-grey darken-2')
              div(class='blue-grey darken-3')
              div(class='blue-grey darken-4')

            div(class='col s12 m6 l4')
              div(class='black')
              div(class='white')
              div(class='transparent')



        //- ***************************************************** -->
        //- VBA Färgindex *************************************** -->
        div(id='excel', class='section scrollspy')
          h2(class='header') Excel Colors
          div(class='row dynamic-color')
            div(class='col s12 m6 l4')
              div(class='color1 - [color 1] - [black]', style='color:white;')
              div(class='color2 - [color 2] - [white]')
              div(class='color3 - [color 3] - [red]')
              div(class='color4 - [color 4] - [green]')
              div(class='color5 - [color 5] - [blue]')
              div(class='color6 - [color 6] - [yellow]')
              div(class='color7 - [color 7] - [magenta]')
              div(class='color8 - [color 8]')
              div(class='color9 - [color 9]')
              div(class='color10 - [color 10]')
              div(class='color11 - [color 11]')
              div(class='color12 - [color 12]')
              div(class='color13 - [color 13]')
              div(class='color14 - [color 14]')
              div(class='color15 - [color 15]')
              div(class='color16 - [color 16]')
              div(class='color17 - [color 17]')
              div(class='color18 - [color 18]')
              div(class='color19 - [color 19]')

            div(class='col s12 m6 l4')
              div(class='color20 - [color 20]')
              div(class='color21 - [color 21]')
              div(class='color22 - [color 22]')
              div(class='color23 - [color 23]')
              div(class='color24 - [color 24]')
              div(class='color25 - [color 25]')
              div(class='color26 - [color 26]')
              div(class='color27 - [color 27]')
              div(class='color28 - [color 28]')
              div(class='color29 - [color 29]')
              div(class='color30 - [color 30]')
              div(class='color31 - [color 31]')
              div(class='color32 - [color 32]')
              div(class='color33 - [color 33]')
              div(class='color34 - [color 34]')
              div(class='color35 - [color 35]')
              div(class='color36 - [color 36]')
              div(class='color37 - [color 37]')
              div(class='color38 - [color 38]')

            div(class='col s12 m6 l4')
              div(class='color39 - [color 39]')
              div(class='color40 - [color 40]')
              div(class='color41 - [color 41]')
              div(class='color42 - [color 42]')
              div(class='color43 - [color 43]')
              div(class='color44 - [color 44]')
              div(class='color45 - [color 45]')
              div(class='color46 - [color 46]')
              div(class='color47 - [color 47]')
              div(class='color48 - [color 48]')
              div(class='color49 - [color 49]')
              div(class='color50 - [color 50]')
              div(class='color51 - [color 51]')
              div(class='color52 - [color 52]')
              div(class='color53 - [color 53]')
              div(class='color54 - [color 54]')
              div(class='color55 - [color 55]')
              div(class='color56 - [color 56]')



      //------------------------------------------------------------------------------->
      //-- MENU RIGHT ----------------------------------------------------------------->
      div(class='col hide-on-small-only m3')
        div(class='toc-wrapper')
          div(style='height: 1px;')
            ul(class='section table-of-contents')
              li
                a(href='#top') Back to top

              li
                a(href='#external') External Links
              li
                a(href='#materialize') Materialize
              li
                a(href='#excel') Excel
