doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='Author', content='Mikael Sundström')
    //- meta(http-equiv='refresh', content='300')
    
    //- Android 5 Chrome Color
    meta(name='theme-color', content='#EE6E73')
    
    //- Favicon
    meta(name='msapplication-TileColor', content='#FFFFFF')
    meta(name='msapplication-TileImage', content='media/ico/onlinecores.ico')
    link(rel='apple-touch-icon-precomposed', href='media/favicon/apple-touch-icon-152x152.png')
    link(rel='icon', href='/favicon.ico')

    title= title

    //- CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/stylesheets/prism/prism.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body

    //- Header Content with menu
    header
      div(class='container')
        a(class='button-collapse top-nav waves-effect waves-light circle hide-on-large-only', data-activates='menu-mobile', href='#')
          i(class='material-icons') menu
      
      ul(id='menu-mobile', class='side-nav fixed', style='background-image: url(media/png/300x100_docs.png); background-repeat: no-repeat;')
        li(class='logo')
          a(id='logo-container', class='brand-logo', href='/')
            object(id='front-page-logo', type='image/svg+xml', data='media/svg/materialize-blue.svg') Your browser does not support SVG
        li(class='search')
          div(class='search-wrapper card')
            input(id='search', style='border-bottom: none;')
            i(class='material-icons') search
            div(class='search-results')
        li(class='bold')
          a(id='start', class='waves-effect waves-dark', href='/') Start
        li(class='no-padding')
          ul(class='collapsible collapsible-accordion')

            li(class='bold')
              a(class='collapsible-header waves-effect waves-dark') Solution 
                i(class='material-icons right') keyboard_arrow_right
              div(class='collapsible-body')
                ul
                  li
                    a(class='waves-effect waves-dark', href='#!') .NET Core
                  li
                    a(class='waves-effect waves-dark', href='#!') Structure
                  li
                    a(class='waves-effect waves-dark', href='#!') Server
                  li
                    a(class='waves-effect waves-dark', href='#!') Database
                  li
                    a(class='waves-effect waves-dark', href='#!') Google API

            li(class='bold')
              a(class='collapsible-header waves-effect waves-dark') Games
                i(class='material-icons right') keyboard_arrow_right
              div(class='collapsible-body')
                ul
                  li
                    a(class='waves-effect waves-dark', href='#!') Snake
                  li
                    a(class='waves-effect waves-dark', href='#!') Chess

            li(class='bold')
              a(class='collapsible-header waves-effect waves-dark') Community 
                i(class='material-icons right') keyboard_arrow_right
              div(class='collapsible-body')
                ul
                  li
                    a(class='waves-effect waves-dark', href='#!') Forum
                  li
                    a(class='waves-effect waves-dark', href='#!') Chat
                  li
                    a(class='waves-effect waves-dark', href='#!') Statestic
                  li
                    a(class='waves-effect waves-dark', href='#!') Shop
                  li
                    a(class='waves-effect waves-dark', href='#!') Support
                    
            li(class='bold')
              a(class='collapsible-header waves-effect waves-dark') Other stuff 
                i(class='material-icons right') keyboard_arrow_right
              div(class='collapsible-body')
                ul
                  li
                    a(class='waves-effect waves-dark', href='#!') Browser Extension
                  li
                    a(class='waves-effect waves-dark', href='#!') WinRAR Theme
                  li
                    a(class='waves-effect waves-dark', href='#!') VS Code Extension

        li(class='bold')
          a(id='licens', class='waves-effect waves-dark', href='/licens') Licens


    //- Main Content
    main(class='conainer')
      block content
      


    //- Footer Content
    footer(class='page-footer grey darken-2')
      div(class='container')
        div(class='row')
          div(class='col l4 s12')
            h5(class='white-text') Gratitude
            p(class='grey-text text-lighten-4') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sin tantum modo ad indicia veteris memoriae cognoscenda, curiosorum. Quodsi ipsam honestatem undique pertectam atque absolutam.
            form(id='paypal-donate', action='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HNMNYRP8ZTAMU', method='post', target='_top')
              button(class='btn waves-effect waves-light grey', type='submit', name='action', alt='PayPal - The safer, easier way to pay online!') Donate
          div(class='col l4 s12')
            h5(class='white-text') Join the Discussion
            p(class='grey-text text-lighten-4') We have a Gitter chat room set up where you can talk directly to us. Come in and discuss new features, future goals, general problems or questions, anything you can think of.
            a(class='btn waves-effect waves-light grey', href='https://gitter.im/OnlineCores') Chat
          div(class='col l4 s12', style='overflow: hidden;')
            h5(class='white-text') Connect
            iframe(allowtransparency='true', frameborder='0', scrolling='0', width='170', height='30', src='http://ghbtns.com/github-btn.html?user=onlinecores&repo=snake&type=watch&count=true&size=large')
            br
            a(class='twitter-follow-button', data-show-count='true', data-size='large', data-dnt='true', href='https://twitter.com/onlinecores') Follow @OnlineCores
            br
            div(class='g-follow', data-annotation='bubble', data-height='24', data-href='https://plus.google.com/105756614994374677818', data-rel='publisher')

      div(class='footer-copyright')
        div(class='container')
          //- Info footer
          script(type='text/javascript', language='javascript').
            var currentTime = new Date()
            var year = currentTime.getFullYear()
            document.write("© " + year + " OnlineCores, All rights reserved.")
          a(class='grey-text text-lighten-4 right' href='#!') MIT License


    //- JavaScript Core
    script(type='text/javascript', src='https://code.jquery.com/jquery-3.1.0.min.js', integrity='sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=', crossorigin='anonymous', defer)
    script(type='text/javascript', src='https://apis.google.com/js/platform.js', defer)
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js', defer)

    //- w3schools Extension
    script(type='text/javascript', src='extensions/w3schools/w3data.js')
    script(type='text/javascript'). 
      w3IncludeHTML()
    
    //- Pre Code Viewer Extension
    script(type='text/javascript', src='javascripts/prism/prism-core.min.js', defer)

    //- Scrollbar Extension
      script(type='text/javascript', src='javascripts/perfect-scrollbar.jquery.min.js', defer)

    //- Search Extension
    script(type='text/javascript', src='javascripts/lunr.min.js', defer)
    script(type='text/javascript', src='javascripts/jquery.search.js', defer)

    //- Custom
    script(type='text/javascript', src='javascripts/scripts.js', defer)
