<nav>
  <ul>
    <li>
      <ul class="sublevel">
        <li><a routerLink="/languages" md-button color="warn">Languages</a></li>
        <li><a routerLink="." md-button color="warn">Menu 2</a></li>
        <li><a routerLink="." md-button color="warn">Menu 3</a></li>
      </ul>
    </li>
    <li>
      <ul class="sublevel">
        <li><a routerLink="." md-button color="warn">Menu 4</a></li>
        <li><a routerLink="." md-button color="warn">Menu 5</a></li>
        <li><a routerLink="." md-button color="warn">Menu 6</a></li>
      </ul>
    </li>
  </ul>
</nav>
