nav {
  ul {
    li {
      ul {
        li {
          a {
            display: block;
            width: 100%;
            color: #fff;
            text-align: start;
            line-height: 38px;
          }
        }
      }
    }
  }
}
