nav {
  background-color: teal;
  ul {
    li {
      display: inline-block;
      height: 64px;
      a {
        display: inline-block;
        line-height: 64px;
        padding: 0 16px;
        color: silver;
        &:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }
        &:active {
          color: red;
        }
      }
    }
  }
}